body {
    overflow-y: scroll;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('images/title.gif');
    background: rgb(0,144,248);
    background: linear-gradient(180deg, rgba(0,144,248,1) 0%, rgba(0,160,248,1) 75%, rgba(56,184,248,1) 100%);
}

h1 {
    border-top: 5px solid #475B7C;
    border-bottom: 5px solid #475B7C;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    padding: 0.5em;
    margin: 10px 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    padding-bottom: 0em;
}

q {
    color:#757575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em ;
}

hr {
    border: 2.5px solid #475B7C;
}

nav {
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#title {
    width: 40%;
    height: 40%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.imagerow {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-direction: row;
    width: auto;
    max-height: 100%;
}

.imagescenter {
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: row;
    width: auto;
    max-height: 100%;
}

.imagecollumn {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-height: 100%;
}

.imagecollumn img {
    margin-top: 0.5em;
    height: auto;
    width: 25vw;
    border: 5px solid #ABC4EA;
    border-radius: 10px 10px 10px 10px;
    animation-name: imagepopup; 
    animation-duration: 1.5s;
}

.imagecollumn hr {
    width: 27vw;
    border: none;
}

@keyframes imagepopup {
    from {
        width: 0vw;
    }
    to {
        width: 25vw;
    }
}

audio {
    width: 25vw;
}

.video {
    border: 0;
    height:20vw;
    width: 25vw;
}

.framedpicture {
    align-self: start;
    border: 5px solid #475B7C;
    border-radius: 10px 10px 10px 10px;
    height: auto;
    width: 25vw;
}

.toolbar {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-color: #475B7C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ABC4EA;
    border-radius: 5px 5px 5px 5px;
    margin-right: 0.5vw;
    text-align: center;
}

a {
    transition: all 250ms ease-out;
    text-decoration: none;
}

a:hover {
    background-color: #cadfff;
    transform: scale(1.10);
    color: white;
  }

a:active {
    background-color: #57677e;
    transform: scale(0.9);
    color: rgb(127, 127, 127);
}

.gamelink {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-color: #475B7C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ABC4EA;
    border-radius: 5px 5px 5px 5px;
    margin-right: 0.5vw;
    text-align: center;
}

.sprite {
    transition: all 250ms ease-out;
    height: auto;
    width: 7.5vw;
}

.sprite:hover {
    transform: scale(2);
}

.articleimage {
    height: auto;
    width: 20vw;
    background: rgb(233,242,255);
    background: linear-gradient(180deg, rgba(233,242,255,1) 0%, rgba(200,221,254,1) 50%, rgba(89,123,175,1) 100%);
    border-radius: 10px 10px 10px 10px;
}

.article {
    background: rgb(233,242,255);
    background: linear-gradient(180deg, rgba(233,242,255,1) 0%, rgba(200,221,254,1) 3%, rgba(151,178,219,1) 98%, rgba(89,123,175,1) 100%);
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 10px;
    padding-top: 0em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.articlelist {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.articleandimage {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
}

.characterprofiles {
    display: flex;
    justify-content: space-evenly;
}

.characterprofiles img {
    width: auto;
    height: 15vw;
    
}

.characterprofile {
    width: 30vw;
}

.characterprofile p {
    text-align: left;
    width: 25vw;
}

.pageintro {
    border: none;
    background: rgb(202,223,255);
    background: linear-gradient(180deg, rgba(202,223,255,1) 0%, rgba(255,255,255,1) 2%, rgba(202,223,255,1) 10%, rgba(202,223,255,1) 95%, rgba(89,123,175,1) 100%);
    border-radius: 10px 10px 10px 10px;
    margin: 0px 10px 10px;
    padding-bottom: 0.5em;
}

.pageintro p {
    padding-left: 0.5em;
}

.toppage {
    margin: 20px 10px 20px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(202,223,255);
    background: linear-gradient(180deg, rgba(202,223,255,1) 0%, rgba(255,255,255,1) 2%, rgba(202,223,255,1) 10%, rgba(202,223,255,1) 82%, rgba(89,123,175,1) 100%);
    padding-top: 0.01em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

#maebass {
    width: auto;
    height: 10vw;
}

#johncleese {
    width: auto;
    height: 20vw;
}

#hellsknight {
    height: auto;
    width: 15vw
}

#earthboundmodel {
    height: auto;
    width: 25vw
}

#stock {
    height: auto;
    width: 50vw 
}

#bullethell {
    height: auto;
    width: 40vw 
}