@font-face {
    font-family: 'AppleKid';
    src: url('fonts/apple_kid.ttf');
}

body {
    overflow-y: scroll;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* background-image: linear-gradient(rgba(3,105,121,0.25), rgba(47,0,74,0.25) , rgba(93,34,125,0.25));
    background-color: #1f3b62; */
    background: rgb(0,144,248);
    background: linear-gradient(180deg, rgba(0,144,248,1) 0%, rgba(0,160,248,1) 75%, rgba(56,184,248,1) 100%);
}

h3 {
    /* border-bottom: 5px solid #475B7C; */
    /* background-color: #ABC4EA; */
    /* border-radius: 10px 10px 10px 10px; */
    padding: 0.5em;
    margin: 10px 0px 10px;
    font-size: 2em ;
    font-family: 'AppleKid', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* h2 {
    margin: 0px 0px 0px;
} */

h1 {
    border-top: 5px solid #475B7C;
    border-bottom: 5px solid #475B7C;
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

q {
    color:#757575;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em ;
}

hr {
    width:"100%";
    color: #475B7C;
    /* size:4; */
}

nav {
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.title {
    border-bottom: 5px solid #475B7C;
    background-color: #ABC4EA;
    padding: 0.5em;
    max-width: 100%;
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header {
    /* background-color: #859ABC; */

/* } */

.imagerow {
    display: flex;
    justify-content: space-around;
    align-items: center ;
    flex-direction: row;
    width: auto;
    max-height: 100%;
}

.imagecollumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-height: 100%;
}

.imagecollumnimage {
    margin-top: 0.5em;
    height: auto;
    width: 25vw;
}

iframe {
    height: auto;
    max-width: 50%;
}

.framedpicture {
    align-self: start;
    border: 5px solid #475B7C;
    border-radius: 10px 10px 10px 10px;
    /* max-width: 100%;
    height: auto; */
    height: auto;
    width: 25vw;
}

.toolbar {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-color: #475B7C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ABC4EA;
    border-radius: 5px 5px 5px 5px;
    margin-right: 0.5vw;
}

a {
    transition: all 250ms ease-out
}

a:hover {
    background-color: #cadfff;
    transform: scale(1.10);
  }

.sprite {
    transition: all 250ms ease-out;
    height: auto;
    width: 7.5vw;
}

.sprite:hover {
    transform: scale(2);
}


#title {
    width: 40%;
    height: 40%;
    padding: 0.5em;
    display: flex;
    justify-content: center;
}

.article {
    /* background-color: #cadfff; */
    /* border: 5px solid #475B7C; */
    background: rgb(233,242,255);
    background: linear-gradient(180deg, rgba(233,242,255,1) 0%, rgba(200,221,254,1) 3%, rgba(151,178,219,1) 97%, rgba(89,123,175,1) 100%);
    border-radius: 10px 10px 10px 10px;
    margin: 10px 10px 10px;
    padding-top: 0em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    /* display: flex;
    flex-direction: column;
    justify-content: right; */
    /* width:75%;
    height:100%; */
}


.articlelist {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.articleandimage {
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-around;
}

.pageintro {
    border: none;
    /* background-color: #cadfff; */
    background: rgb(202,223,255);
    background: linear-gradient(180deg, rgba(202,223,255,1) 0%, rgba(255,255,255,1) 2%, rgba(202,223,255,1) 10%, rgba(202,223,255,1) 82%, rgba(89,123,175,1) 100%);
    border-radius: 10px 10px 10px 10px;
    margin: 0px 10px 10px;
    padding-bottom: 0.5em;
    float: center;
    /* width: 60%; */
}

/* .leftobject {
    margin-left: -117.5%;
} */

.introtext {
    padding-left: 0.5em;
}

.toppage {
    margin: 20px 10px 20px;
    border-radius: 10px 10px 10px 10px;
    background: rgb(202,223,255);
    background: linear-gradient(180deg, rgba(202,223,255,1) 0%, rgba(255,255,255,1) 2%, rgba(202,223,255,1) 10%, rgba(202,223,255,1) 82%, rgba(89,123,175,1) 100%);
    padding-top: 0.01em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

/* input[type="checkbox"] {
    content: url("Images/yummenikki/poniko.png");
    appearance: none;
    display: block;
    width: auto;
    height: auto;
}

input[type="checkbox"]:checked {
    content: url("Images/yummenikki/uboa.png");
} */

/* input[type="checkbox"] {
    content: url('http://placekitten.com/150/160');
    appearance: none;
    display: block;
    width: 150px;
    height: 150px;
}

input[type="checkbox"]:checked {
    content: url('https://static.wikia.nocookie.net/yumenikki/images/0/0f/Uboa.png');
} */



/* p {
    padding: 0.5em;
    position:relative; left:80px; top:20px;
}

section {
    display: flex ;
    flex-direction: column;
    justify-content: right;
    align-items: right;

} */